body {
    overflow: hidden;
    width:100%;
    font-family: Arial;
}

.container {
    overflow: hidden;
}

#mainCanvas {
    display: block;
    float: left;
    cursor: none;
    border : 1px solid black;
}

.infoDiv {
    float: left;
    width: 140px;
    padding-left: 5px;
}

#startButton {
    background-color: cornsilk;
    line-height: 27px;
    font: large Arial;
    width: 70px;
    border: 2px solid black;
    border-radius: 5px;
}

#stopButton {
    background-color: coral;
    line-height: 27px;
    font: large Arial;
    width: 70px;
    border: 2px solid black;
    border-radius: 5px;
}

button:disabled {
    opacity: 0.7;
    border: 2px solid grey !important;
}

.images {
    display: none;
}
